.nav * {
    color: #9E9E9E;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

.nav {

    padding: 10px 0;
    font-size: .6em;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul li {
    justify-content: flex-end;
    padding-left: 10px;
}