.productlist * {
    text-decoration: none;
}

.productlist__container {
    width: var(--wsm);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
}

.productlist__item {
    border: .5px solid #ECEFF1;
    text-align: center;
    justify-items: center;
}

/* Responsive */
@media screen and (min-width: 1600px) {
    .productlist__container {
        width: var(--wlg);
    }
}